<body>
  <div class="header">
    <h1>Online Quiz</h1>
  </div>
  <div class="main1">
    <h2>***Some Rules of this Quiz***</h2>
    <p><label>*</label> Only one question is asked per page.</p>
    <p><label>*</label> One mark is assigned to each question.</p>
    <p>
      <label>*</label> If the question is answered incorrectly, 0.5 marks will
      be deducted from the total marks.
    </p>
    <p><label>*</label> Press start button to go to question page.</p>
    <!-- <button routerLink="/question">Start Quiz</button> -->
    <button mat-flat-button color="primary" routerLink="/question">
      Start Quiz
    </button>
  </div>
</body>
